<div class="row">
  <div class="small-6 small-centered columns text-center">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>
</div>

<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'small-12 columns' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="field small-12 columns">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="row">
      <div class="field small-12 columns">
        <%= f.label :password, "Password (leave blank if you don't want to change it)" %>
      <%= f.password_field :password, autocomplete: "off" %>
      </div>      
    </div>

    <div class="row">
      <div class="field small-12 columns">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>      
    </div>
    
    <div class="row">
      <div class="field small-12 columns">
        <%= f.label :current_password, "Current Password (To Confirm your changes)" %>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
    </div>
    
    <div class="row">
      <div class="actions small-10 small-centered columns text-center">
        <%= f.submit "Update", class: 'button small' %>
      </div>
    </div>    
  <% end %>
</div>

<div class="row">
  <div class="actions small-12 columns text-center">
    <h2>Edit personal Information</h2>
  </div>
</div>
<div class="row">
  <%= form_for(current_user, html: { class: 'small-12 columns' }) do |f| %>
    <div class="row">
      <div class="field small-12 columns">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row">
      <div class="actions small-6 small-centered columns text-center">
        <%= f.submit "Update", class: 'button small' %>
      </div>
    </div>      
  <% end %>
</div>

<div class="row">
  <div class="small-12 text-center">

    <% if current_user.standard? || current_user.admin? %>
      <h3>Upgrade my account:</h3>
      <%= link_to "Upgrade!", new_charge_path, class: 'button small success' %>
    <% elsif current_user.premium? %>
      <h2>Premium!</h2>
    <% end %>
    
    <% if current_user.premium? %>
      <p><%= pluralize(current_user.premium_left, 'day') %> of premium remaining!</p>
      <h3>Downgrade</h3>
      <%= button_to "Downgrade my account", downgrade_path, class: 'button small alert', data: { confirm: "Are you sure?" }, method: :delete %>
    <% end %>

    <h3>Cancel my account :(</h3>

    <%= button_to "Cancel my account", registration_path(resource_name), class: 'button small alert', data: { confirm: "Are you sure?" }, method: :delete %>
  </div>
</div>