<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Blocipedia" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="row">
        <div class="small-12 small-centered columns">

          <!-- NAV -->
            <nav class="top-bar" data-topbar role="navigation">
              <ul class="title-area">
                <li class="name">
                  <% if !current_user %>
                    <h1><%= link_to "Blocipedia", root_path %></h1>
                  <% else %>
                    <h1><%= link_to "Blocipedia", wikis_path %></h1>
                  <% end %>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>&nbsp;</span></a></li>
              </ul>

              <section class="top-bar-section">
                <ul class="right">
                <% if current_user %>
                  <li class="text-center"><a href="#"><%= current_user.email %></a></li>
                  <li class="text-center"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                <% else %>  
                  <li class="active text-center"><%= link_to "Log In", new_user_session_path %></li>
                <% end %>
                </ul>
              </section>
            </nav>
          <!-- NAV -->
          
          <!-- FLASH -->
            <% if flash[:notice] %>
              <div data-alert class="alert-box success text-center">
                <%= flash[:notice] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% elsif flash[:alert] %>
              <div data-alert class="alert-box warning">
                <%= flash[:alert] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% elsif flash[:error] %>
              <div data-alert class="alert-box error">
                <%= flash[:error] %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>
          <!-- FLASH -->
          
          <!-- CONTENT -->
            <%= yield %>
          <!-- CONTENT -->

        </div>
      </div>
      

      

      

    </body>
</html>
